/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 22, 50);
}

h1,
h2 {
  margin-bottom: 20px;
}

/* Regole center */

.center {
  text-align: center;
  margin-top: 20px;
  color: white;
}

/* Regole generator */

#generator {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

/* Regole sensButton */

.sendButton {
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(9, 108, 252);
  padding: 5px;
}

#optionText {
  margin-top: 20px;
}

#optionSelection input {
  margin: 0 10px;
}
